POSTGRES_USER=asciiflix
POSTGRES_PASSWORD=asciiflixpassword
POSTGRES_DB=asciiflix_db
POSTGRES_HOST=database
POSTGRES_PORT=5432
MONGO_HOST=video_storage
MONGO_PORT=27017
MONGO_USERNAME=asciiflix
MONGO_PASSWORD=fucking_change_this_to_env_file
MONGO_INITDB_ROOT_USERNAME: asciiflix
MONGO_INITDB_ROOT_PASSWORD: fucking_change_this_to_env_file
JWT_PRIVATE_KEY=asciiflix_jwt_secret_key
API_PORT=8080
LOG_LEVEL=6
ASCII_WIDTH=100
ASCII_HEIGHT=35